/* =================================================================== */
/* YELLOW blue
====================================================================== */
.home {
	h1 {
		color: blue;
	}
	.home-details {
		h1 {
			&:before {
				background-color: blue;
			}
		}
	}
	.color-block {
		background-color: blue;
	}
}
.about {
	.box-stats {
		h3 {
			color: blue;
		}
	}
	.resume-box {
		.icon {
			background-color: blue;
		}
	}
}
.title-section {
	h1 {
		span {
			color: blue;
		}
	}
	hr {
		background-color: blue;
	}
}
#menu {
	li.active {
		a {
			color: blue;
		}
	}
}
body.light {
	#menu {
		li.active {
			a {
				color: blue;
			}
		}
	}
	.header {
		ul.icon-menu {
			li.icon-box.active {
				background-color: blue;
			}
			li.icon-box {
				&:hover {
					background-color: blue;
				}
			}
		}
	}
}
.blog {
	.post-container {
		&:hover {
			.post-content {
				.entry-header {
					h3 {
						a {
							color: blue;
						}
					}
				}
			}
		}
	}
	.post-content {
		.entry-header {
			h3 {
				a {
					&:hover {
						color: blue;
					}
				}
			}
		}
	}
	.page-link {
		&:hover {
			background-color: blue;
			border: 1px solid blue;
		}
	}
	.page-item.active {
		.page-link {
			background-color: blue;
			border: 1px solid blue;
		}
	}
	.post-thumb {
		border-bottom: 5px solid blue;
	}
}
.contact {
	.custom-span-contact {
		i {
			color: blue;
		}
	}
	ul.social {
		li {
			a {
				&:hover {
					background-color: blue;
				}
			}
		}
	}
	.contactform {
		input[type=text] {
			&:focus {
				border: 1px solid blue;
			}
		}
		input[type=email] {
			&:focus {
				border: 1px solid blue;
			}
		}
		textarea {
			&:focus {
				border: 1px solid blue;
			}
		}
	}
}
.portfolio {
	.slideshow {
		figcaption {
			h3 {
				color: blue;
			}
		}
		a {
			color: blue;
		}
		.carousel-indicators {
			li.active {
				background-color: blue;
			}
		}
	}
	.grid {
		figure {
			&:hover {
				figcaption {
					color: blue;
				}
			}
		}
		li {
			figure {
				div {
					background-color: blue;
				}
			}
		}
	}
}
.blog-post {
	.meta {
		i {
			color: blue;
		}
	}
}
body.light.contact {
	ul.social {
		li {
			a {
				&:hover {
					background-color: blue;
				}
			}
		}
	}
	.contactform {
		input[type=text] {
			&:focus {
				border: 1px solid blue;
			}
		}
		input[type=email] {
			&:focus {
				border: 1px solid blue;
			}
		}
		textarea {
			&:focus {
				border: 1px solid blue;
			}
		}
	}
}
.preloader {
	.loader {
		background-color: blue;
	}
}
body.light.blog {
	.page-link {
		&:hover {
			background-color: blue;
			border: 1px solid blue;
		}
	}
	.page-item.active {
		.page-link {
			background-color: blue;
			border: 1px solid blue;
		}
	}
}
.header {
	ul.icon-menu {
		li.icon-box.active {
			background-color: blue;
		}
		li.icon-box {
			&:hover {
				background-color: blue;
			}
		}
	}
	.icon-box {
		h2 {
			background-color: blue;
		}
	}
}
.btn {
	background-color: blue;
}
.button {
	&:before {
		background-color: blue;
	}
	border: 1px solid blue;
}
.button-icon {
	background-color: blue;
}
.pie {
	border: 0.08em solid blue;
}
.c100 {
	.bar {
		border: 0.08em solid blue;
	}
}
.c100.p51 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p52 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p53 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p54 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p55 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p56 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p57 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p58 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p59 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p60 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p61 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p62 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p63 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p64 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p65 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p66 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p67 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p68 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p69 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p70 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p71 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p72 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p73 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p74 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p75 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p76 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p77 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p78 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p79 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p80 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p81 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p82 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p83 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p84 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p85 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p86 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p87 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p88 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p89 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p90 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p91 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p92 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p93 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p94 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p95 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p96 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p97 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p98 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p99 {
	.fill {
		border: 0.08em solid blue;
	}
}
.c100.p100 {
	.fill {
		border: 0.08em solid blue;
	}
}
