<!-- Mobile Menu Starts -->
	<nav role="navigation" class="d-block d-lg-none">
		<div id="menuToggle">
			<input type="checkbox">
			<span></span>
			<span></span>
			<span></span>
			<ul class="list-unstyled" id="menu">
				<li class="active">
					<a href="index.html">
						<i class="fa fa-home"></i>
						<span>Home</span>
					</a>
				</li>
				<li>
					<a href="about.html">
						<i class="fa fa-user"></i>
						<span>About</span>
					</a>
				</li>
				<li>
					<a href="portfolio.html">
						<i class="fa fa-folder-open"></i>
						<span>Portfolio</span>
					</a>
				</li>
				<li>
					<a href="contact.html">
						<i class="fa fa-envelope-open"></i>
						<span>Contact</span>
					</a>
				</li>
				<li>
					<a href="blog.html">
						<i class="fa fa-comments"></i>
						<span>Blog</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- Mobile Menu Ends -->
