{% extends "layouts/default.twig" %}
{% block body_class %}about {% endblock %}

{% block content %}
	<!-- TITLE PAGE -->
	<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1 no-transform revealator-within">
		<h1>ABOUT <span>ME</span></h1>
		<span class="title-bg">Resume</span>
	</section>

	<!-- ABOUT CONTENT -->
	<section class="main-content revealator-slideup revealator-once revealator-delay1 no-transform revealator-partially-above revealator-within">
		<div class="container">
			<div class="row">
				<!-- Personal Info Starts -->
				{% include "blocks/block-personal-info.twig" %}
				<!-- Personal Info Ends -->

				<!-- Boxes Starts -->
				{% include "blocks/block-boxes.twig" %}
				<!-- Boxes Ends -->
			</div>
			<hr class="separator">
			<!-- Skills Starts -->
			{% include "blocks/block-skills.twig" %}
			<!-- Skills Ends -->
			<hr class="separator mt-1">
			<!-- Experience & Education Starts -->
			{% include "blocks/block-experience.twig" %}
			<!-- Experience & Education Ends -->
		</div>
	</section>
	<script id="stat-circle" type="x-template">
		<svg class="stat-circle" width="120" viewBox="0 0 20 20">
			<circle class="bg" cx="10" cy="10" r="8"/></circle>
			<circle class="progress" cx="10" cy="10" r="8" :data-percentage="percentage"/></circle>
			<text x="50%" y="55%" v-text="percentage">%</text>
		</svg>
	</script>


{% endblock %}
