{% extends "layouts/default.twig" %}
{% block body_class %}home blog{% endblock %}
{% block content %}
    	<!-- HOME -->
		<section class="container-fluid main-container container-home p-0 revealator-slideup revealator-once revealator-delay1 no-transform revealator-within">
			<div class="color-block d-none d-lg-block"></div>
			<div class="row home-details-container align-items-center">
				<div class="col-lg-4 bg  d-none d-lg-block"></div>
				<div class="col-12 col-lg-8 offset-lg-4 home-details text-start text-sm-center  text-lg-start">
					<div>
						<img src="assets/img/img-mobile.jpg" class="img-fluid main-img-mobile d-none d-sm-block d-lg-none"
				alt="my picture">
						<h1 class="text-uppercase poppins-font">I'M AGUS PRI.<span>WEB DEVELOPER</span></h1>
						<p class="open-sans-font">I'm an Indonesian based web developer & front‑end developer focused on crafting clean & user‑friendly experiences, I am passionate about building excellent software that improves the lives of those around me.</p>
						<a class="button" href="about.html">
							<span class="button-text">more about me</span>
							<span class="button-icon fa fa-arrow-right"></span>
						</a>
					</div>
				</div>
			</div>
		</section>

		<!-- BLOG TITLE -->
		<section
			class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1 no-transform revealator-within">
			<h1>my <span>blog</span></h1>
			<span class="title-bg">posts</span>
		</section>

		{% include "blocks/block-blogs.twig" %}
{% endblock %}
