.contact {
	.main-content {
		padding-bottom: 85px;
	}
	.custom-span-contact {
		font-weight: 600;
		padding-left: 50px;
		line-height: 21px;
		padding-top: 5px;
		i {
			left: 0;
			top: 10px;
			font-size: 33px;
		}
		i.fa-phone-square {
			font-size: 39px;
			top: 7px;
		}
		span {
			text-transform: uppercase;
			opacity: .8;
			font-weight: 400;
		}
	}
	ul.social {
		margin-left: -5px;
		li {
			display: inline-block;
			a {
				display: inline-block;
				height: 40px;
				width: 40px;
				line-height: 42px;
				text-align: center;
				color: #fff;
				transition: .3s;
				font-size: 17px;
				margin: 0 6px;
				background: #2b2a2a;
				border-radius: 50%;
			}
		}
	}
	.contactform {
		input[type=text] {
			border: 1px solid #111;
			width: 100%;
			background: #252525;
			color: #fff;
			padding: 11px 26px;
			margin-bottom: 30px;
			border-radius: 30px;
			outline: none !important;
			transition: .3s;
		}
		input[type=email] {
			border: 1px solid #111;
			width: 100%;
			background: #252525;
			color: #fff;
			padding: 11px 26px;
			margin-bottom: 30px;
			border-radius: 30px;
			outline: none !important;
			transition: .3s;
		}
		textarea {
			border: 1px solid #111;
			background: #252525;
			color: #fff;
			width: 100%;
			padding: 12px 26px;
			margin-bottom: 20px;
			height: 160px;
			overflow: hidden;
			border-radius: 30px;
			outline: none !important;
			transition: .3s;
		}
		.form-message {
			margin: 24px 0;
		}
		.output_message {
			display: block;
			color: #fff;
			height: 46px;
			line-height: 46px;
			border-radius: 30px;
		}
		.output_message.success {
			background: #28a745;
			&:before {
				font-family: FontAwesome;
				content: "\f14a";
				padding-right: 10px;
			}
		}
		.output_message.error {
			background: #dc3545;
			&:before {
				font-family: FontAwesome;
				content: "\f071";
				padding-right: 10px;
			}
		}
	}
}

@media (max-width: 991px) {
	.contact {
		.main-content {
			padding-bottom: 0;
		}
	}
}
